#==============================================================================
# @brief    Kconfig file for DEMO01 sample.
# Copyright (c) HiSilicon (Shanghai) Technologies Co., Ltd. 2023-2023. All rights reserved.
#==============================================================================